html, body {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 1.6px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Source Sans Pro', sans-serif;
    font-display: fallback;
    word-wrap: break-word;
    background-color: whitesmoke;
    overflow-x: hidden;
    height: 100%;
    align-items: center; 
}

body::-webkit-scrollbar {
    width: 13px; 
    height: 11px; 
    background-color: #3e3c49;

}

body::-webkit-scrollbar-corner {
    background-color: #408e94;
   
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.3);
       background-clip: content-box; 
       border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    width: 13px;
    background-color: #408e94;
    border-left: 1px solid #3e3c49;
    border-right: 1px solid #3e3c49;
     -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
     border-radius: 45px/15px; 
}



body::-webkit-scrollbar-thumb:horizontal {
    border-left: 5rem solid #3e3c49;
    border-right: 5rem solid #3e3c49;
}
.fn .card {
    cursor: pointer;
}

.nav-sec {
    position: absolute;
    z-index: 100;
    color: whitesmoke;
    opacity: 0.99;
    transition: background-color 300ms linear, color 1s linear;
    transition: 0.25s;
    transition-property: border-color;
    transition-property: all;
    padding-right: 8.5rem!important;
}

.nav-sec a, .nav-temp a {
    color: whitesmoke;
    text-decoration: none;
}

footer a {
    color: whitesmoke !important;
    text-decoration: none !important;
}

footer h5 {
    color: rgba(64, 128, 148, 0.68)!important;
    cursor: default;
}

footer a:hover {
    color: #519fa5!important;
    text-shadow: 1px 1px 1px solid #408e94;
}

.card {
    color: whitesmoke !important;

}
.js-logo {
    background-color: #ba4452;
    box-shadow: 0px -1px 0px 1px #982230 inset;

}

.js-logo:hover #js-logo {
    opacity: 0.9;
}

.code {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;    
}

.doc-html { 
    color: #81a1c1;
}

.def-html { 
    color: #88c0d0;
}

.in-tag {
    color: #a3be8c;
}

.even-here {
    color: #bf626a;
}

.f-theme {
    border-left: 30px solid #519fa5;
    background-color: rgba(81, 159, 165, 0.1);
    border-radius: 30px/10px;

}

.code-bg {
    background-color: rgba(62, 60, 73, 1) !important;
}

.s-theme {
    border-left: 30px solid #ba4452;
    background-color: rgba(186, 68, 82, 0.1);
    border-radius: 30px/10px;

}

.code-theme {
    border-left: 30px solid #949b3e;
    background-color: rgba(62, 60, 73, 1);
    border-radius: 30px/10px;
    overflow-x: auto;
    min-width: 400px;
    color: white;
    font-size: 16px;
    overflow-x: hidden;
}

.grade {
    /*
    -webkit-transition: background-color 300ms linear, color 1s linear;
    -moz-transition: background-color 300ms linear, color 1s linear;
    -o-transition: background-color 300ms linear, color 1s linear;
    -ms-transition: background-color 300ms linear, color 1s linear;
    transition: background-color 300ms linear, color 1s linear;
    */
    transition: 0.25s;
    transition-property: border-color;
    transition-property: all;
}

/* Palette*/

.a-gr {
    background-color: #7c8743;
}

.a-lg {
    background-color: #bfaf35;
}

.a-or {
    background-color: #f0b147;
}

.a-fruit {
    background-color: #ee8862;
}

.a-red {
    background-color: #b32f47;
}
.lvly-blue {
    background-color: #519fa5;
}

.lvly-cont {
    color: #519fa5;
}

.a-green {
    background-color: #949b3e !important;
}

.a-cont {
    color: #949b3e;
}

.pepper-green {
    background-color: #a7b38d;
}

.pepper-red {
    background-color: #ba4452;
}

.pr-cont {
    color: #ba4452;
}

.pepper-dark {
    background-color: #3e3c49;
}
.pd-cont {
    color: #3e3c49;
}

.pepper-brown {
    background-color: #756266;
}

.pepper-light {
    background-color: #a18e87;
}

.li-purple:hover { 
    transition-timing-function: ease-in;
    transition: 0.25s;
    color: rgba(160, 125, 166, 0.8);
    transition-property: border-color;
    transition-property: all;
    cursor: pointer;
}

.a-pr-info {
    color: rgb(160, 125, 166);
}

.a-pr-info:hover {
    color: rgb(190, 135, 176);
    cursor: default;
    transition: 0.2s;
}

.wd-ch {
    border: 1px solid #f5f5f5;
    background-color: #519fa5;
    border-radius: 25px 25px 0px 0px/50px 50px 0px 0px;
    z-index: 1;
}

.wd-ch-s {
    position: relative;
    left: -5px;
    z-index: 2;
}

.wd-ch-t {
    position: relative;
    left: -10px;
    z-index: 3;
}

.wd-ch-f {
    position: relative;
    left: -15px;
    z-index: 4;
}

.wd-ch:hover {
    opacity: 0.9;
    cursor: pointer;
    z-index: 99 !important;
}

.pages .card {
    max-width: 23.5rem;
    color: #343a40 !important;
}

.pages small a {
    color: #6c757d;
}

.pages .card-img-top .card-footer{
    max-height: 14.5241rem;
    height: 14.5241rem;
    background-size: contain, cover;
    background-attachment: fixed;
    background-position: center;
}

.pages .card-footer {
    min-height: 246px;
}

.hi-index {
    z-index: 99 !important;
}

.nav-temp .btn-top {
    border-radius: 2px 2px 2px 2px;
    background-color: #ba4452;
    height: 42px;
    max-width: 120px;
    min-width: 120px;
    color: #f8f9fa!important;
}

.nav-sec .s-btn-top {
    border-radius: 2px 2px 2px 2px;
    height: 42px;
}

.nav-sec .s-btn-top:hover {
    transition: 0.25s;
    border-left: 2px solid #f8f9fa!important;
    background-color: rgba(72,70,83, 0.8);
    margin-left: 2rem !important;
    width: 100%;
    min-width: 11rem;
    cursor: pointer;

}

.nav-sec .item {
    background-color: #3E3C49;
    text-wrap: none;
    word-break: normal;
    min-height: 42px;
    display: block;
}

.nav-sec .item:hover:before {
    font-size: 18px;
    margin-left: 2rem;
    content: " ⦿ ";
    color:#519fa5;
}


.active-s:after {
   font-size: 18px;
    content: " ⦿ ";
    color:#519fa5;
    
}


.card-img-top {
    min-height: 374px; 
}
.nav-temp .dropdown-menu {
    min-width: 120px !important;
}

.nav-temp .dropdown-toggle:after, .dropdown-toggle:before {
    display: none;
}

.nav-temp .btn-top:hover, .active {
    transition: 0.25s;
    background-color: #982230 !important;
    color: white !important;

}

.nav-temp .dropdown-item:active {
    background-color: #982230 !important;
}

.nav-temp .btn-top:focus {
    outline:0 !important;
    border: 0px !important;

}

.image {
    background-image: url("../img/js.png");
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-position-y: center;
    height: 400px;
    background-attachment: fixed;

}

.js-code {
    color: #ebcb8b;
}

.field-title {
    visibility: hidden;
}

.box {
    height: 300px;
    width: auto;
}

.img-box {
    height: 240px;
    width: 100%;
}

.box-caption {

}

/* Really ?! */

*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button.launch {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}

*:focus {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;

}

button.launch:hover {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}

button.launch {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}


button.change {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}

button.change:hover {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}

button:active {
    text-decoration: none!important;
    outline:none !important;
    border: none!important;
    box-shadow: none!important;
}

.contact:hover {
    color: #7c8743 !important;
    cursor: pointer;
}

form .btn {
    border: 0px !important;
}

@media(max-width: 979px) {
    .upright {
        visibility: hidden !important;
        opacity: 0;
    }
}



@media(min-width: 576px) {
    .field {

        border: 1px #2B322B solid;
    }


    .field-title {
        height: 18px;
        visibility: visible;
        background: whitesmoke;
        position: relative;
        top: -15px;
        left: 30px;
    }
}

.vert-text{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap; 
}


@media(max-width: 767px) {
    .paper {
        padding-top: 100%;
        position: relative;
        right: 25%;
    }

    .wd-ch {
        border-radius: 0px;
    }
}

@media(max-width: 576px) {
    .paper {
        padding: 0;
        position: static;
    }
      div .code-theme{
        overflow-x: scroll !important;
    }

}

@media(max-width: 580px) {
    .wd-ch-s, .wd-ch-t, .wd-ch-f {
        left: 0px;
    }

    .wd-ch {
        border-radius: 0px;
    }
    .wd-ch:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    

}

/*font-awesome 01.11.2018*/ 

.icon-box-7x > i {
   position: relative;
   top: calc(50% - 63.795px);
}

.icon-box-9x > i {
    position: relative;
    top: calc(50% - 81.795px);
}