body {
    // background-image: url(../img/qbkls.png);
    background: -webkit-linear-gradient(180deg, #9cd3d3, #2b4353);
    background: linear-gradient(180deg, #9cd3d3, #2b4353);
    background-attachment: fixed;
    line-height: 1.5em;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-family: Dosis, sans-serif;
}
.background-first {
    background: -webkit-linear-gradient(180deg, #2b4353, #9cd3d3);
    background: linear-gradient(180deg, #2b4353, #9cd3d3);
    background-attachment: fixed;
}
.logo {
    width: 60%
}
.neutral-text {
    text-align: justify;
    text-align-last: left;
}
.ref-img {
    height: 250px;
}
.light {
    font-weight: 300;
    color: #696b6f;
}
.light:hover, fa-phone-volume:hover {
    transition: .2s;
    cursor: pointer;
    color: #8b8d8f;
}
footer {
    min-height: 500px;
}
p {
    text-indent: 1.5em;
    margin-top: 0!important;
}
.br-dotted {
    border-right: 5px dotted rgba(245, 245, 245, 0.25);
}

.bl-dotted {
    border-left: 5px dotted rgba(245, 245, 245, 0.25);
}
.hr-style-bottom {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, .5);
}
.hr-style-cloud {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px #000;
}
.hr-style-cloud:after {
    content: "\00a0"}
a {
    cursor: pointer!important;
}
@media (max-width:991px) {
    .br-dotted {
    border-right: 0 dotted rgba(245, 245, 245, .65);
}
iframe {
    min-height:  120px !important;
}
}
@media (min-width:576px) {
    .icon-small-f {
    text-align: right;
}
.icon-small {
    text-align: left;
}
}