body {

    line-height: 1.5em;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-color: #393e46;
    color: #f7f7f7;
  
}

header {
    font-size: 48px !important;

}

.program:hover {
    transition: 0.25s;
    color: #393e46;
    background-color: #f7f7f7;
    cursor: context-menu;
    transition-timing-function: ease-in;
}